{% extends "layout.html" %}

{% block title %}
  Book Detail
{% endblock %}

{% block premain%}
{% if error_message %}
<div class="alert alert-danger">
  <strong>ERROR:</strong> {{ error_message }}
</div>
{% endif %}
{% endblock %}


{% block main %}
  <hr>
  <h2>Book Page</h2>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Book title: {{book.title}}</h4>
      <hr>
      <h5>isbn: {{ book.isbn }}</h5>
      <h5>Author: {{ book.author }}</h5>
      <h5>Publication year: {{ book.pb_year }}</h5>
      
      {% if gr_ratings %}
      <hr>
      <h5>GR average_rating: {{ gr_ratings['average_score'] }}</h5>
      <h5>GR ratings_count: {{ gr_ratings['reviews_count'] }}</h5>
      {% endif %}
      
      {% if reviews %}
      <hr>
      <h5 style="color: blue">Reviews</h5>
        {% for review in reviews %}
        <h6>User : {{review.review_user_email}}<h6>
        <h6>rating: {{review.review_rating}}<h6>
        <h6>review: {{review.review_text}}<h6>
        <h6>Review date: {{review.review_date}}<h6>
        <h6>Review time: {{review.review_time}}<h6>
        {% endfor %}
      {% endif %}
      <hr>
      <a href="{{url_for('new_review', review_isbn=book.isbn) }}">Add a Review</a>
      <a href="{{ url_for ('search_book') }}">Search Another book</a>
    </div>
      
  </div>
</div>


{% endblock %}