{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}



{% block main %}
    <form name="change" action="/change" method="post">
        <div class="form-group">
            <input class="form-control" name="old_password" placeholder="Enter Old Password" type="password" id="old_password" >
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="Enter New Password" type="password" id="new_password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirm_new_password" placeholder="Confirm New Password" type="password" id="confirm_password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>

{% endblock %}